<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Messages</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="table-1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped v_center dataTable no-footer" id="table-1" role="grid" aria-describedby="table-1_info">

                        <thead>
                        <tr>
                            <th> Cname </th>
                            <th> Cemail </th>
                            <th> Subject </th>
                            <th> Message </th>

                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for d in data %}
                        <tr>
                             <td>{{ d.Cname }}</td>
                             <td>{{ d.Cemail }}</td>
                             <td>{{ d.Subject }}</td>
                             <td>{{ d.Message }}</td>
                        </tr>
                        {% endfor %}

                       </tbody>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
{% endblock %}